In [1]:
import pandas as pd
import numpy as np

USE-CASE 2 : use association learning to display shows similar to what user is about to watch.

In [2]:
netflix_data = pd.read_csv("../cleaned_netflix_data.csv")
netflix_data.head()

,type,title,director,cast,country,release_year,rating,duration,listed_in
0,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies"
1,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,2021,TV-14,9 Seasons,"British TV Shows, Reality TV"
2,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,2021,PG-13,104 min,"Comedies, Dramas"
3,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic",2021,TV-MA,127 min,"Dramas, International Movies"
4,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies"

In [3]:
viewers_data = pd.read_csv("../viewers.csv")
viewers_data.head()

,username,country_of_user,title,date_watched,percentage_watched,age
0,cjarrett0,Indonesia,Valeria,1/7/2019,92,21
1,rasbury1,New Zealand,The Massively Mixed-Up Middle School Mystery,10/25/2015,39,69
2,fedds2,Iraq,Boi,8/17/2016,37,77
3,amunehay3,United States,Super Deluxe,11/9/2019,24,12
4,dterrazzo4,Macedonia,Chance Pe Dance,9/8/2015,85,50

In [7]:
len(viewers_data.title.unique())

2395

In [8]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
# create dataframe with username and show titles watched by the user
user_show_df = pd.DataFrame(columns=['username', 'show_title']) 


# iterate through unique usernames
for username in viewers_data['username'].unique():
    
    # get the shows watched by the user
    shows_watched = viewers_data[viewers_data['username'] == username]['title'].values.tolist()

    # add the username and shows watched by the user to the dataframe
    user_show_df = user_show_df.append({'username': username, 'show_title': shows_watched}, ignore_index=True)

In [9]:
user_show_df.head()

     username                                         show_title
0   cjarrett0  [Valeria, Banana Split, Backdraft 2, Husbands ...
1    rasbury1  [The Massively Mixed-Up Middle School Mystery,...
2      fedds2  [Boi, Jhankaar Beats, Kardec, London Hughes: T...
3   amunehay3  [Super Deluxe, Romeo Akbar Walter, Time Out, A...
4  dterrazzo4  [Chance Pe Dance, 3 Idiots, Anaamika, To All T...

In [10]:
data = list(user_show_df['show_title'].values)
data[:3]

[['Valeria',
  'Banana Split',
  'Backdraft 2',
  'Husbands in Goa',
  'Not Another Teen Movie',
  'Copenhagen',
  'W.E.',
  'Sillu Karuppatti',
  'Game Over',
  'Residue',
  'The Tourist',
  'Children of the Sea',
  'Sam Kinison: Family Entertainment Hour',
  'The Delivery Boy',
  'High Strung Free Dance',
  'Gurgaon',
  "Garfield's Pet Force",
  'The Runaways',
  'Rocks',
  'Serious Men',
  'Kambili: The Whole 30 Yards',
  'Oloibiri',
  'Pyaar Ka Punchnama 2',
  "Beethoven's 2nd",
  'True: Wuzzle Wegg Day',
  'Love',
  'Captain Fantastic',
  'Edge of Fear',
  "Beethoven's 2nd",
  'Dry Martina',
  'Axone',
  'John Mulaney & The Sack Lunch Bunch',
  'The Hater',
  'The Heartbreak Club',
  'What Lies Below',
  'The Knight Before Christmas',
  'Must Be... Love',
  'Chronically Metropolitan',
  'MOTHER'],
 ['The Massively Mixed-Up Middle School Mystery',
  'Kaal',
  'Oxygen',
  'Material',
  "Grandmother's Farm",
  'Wish Dragon',
  'Lang Tong',
  'Rugrats in Paris: The Movie',
  'Naruto',
  'The Brave',
  'The Wrong Missy',
  'Operation Finale',
  'Bridezilla',
  'Mumbai Delhi Mumbai',
  'To All The Boys: Always And Forever',
  'Teefa in Trouble'],
 ['Boi',
  'Jhankaar Beats',
  'Kardec',
  'London Hughes: To Catch a D*ck',
  'Over the Moon',
  'Bigflo & Oli: Hip Hop Frenzy',
  'Under the Eiffel Tower',
  'Kahaani',
  'The Block Island Sound',
  'The Crystal Calls Making the Dark Crystal: Age of Resistance',
  'Mighty Express: A Mighty Christmas',
  'Cook Off',
  '#FriendButMarried',
  'Miraculous: Tales of Ladybug & Cat Noir',
  'Vanjagar Ulagam',
  'Underworld: Rise of the Lycans',
  'Biking Borders',
  'Really Love',
  'Dance Dreams: Hot Chocolate Nutcracker',
  'Boogie Nights',
  'Machete Kills',
  'Doom: Annihilation',
  'Drishyam',
  'Merry Men 2: Another Mission',
  'The Idhun Chronicles',
  'Kardec',
  'Eyes of a Thief',
  'Kabhi Alvida Naa Kehna']]

Creating Apriori Data Structure

In [12]:
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_data = te.fit(data).transform(data).astype(int)
df = pd.DataFrame(te_data, columns=te.columns_)
df.head()

,#Alive,#AnneFrank - Parallel Stories,#FriendButMarried,#FriendButMarried 2,#Selfie,#Selfie 69,'76,10 Days in Sun City,100% Halal,122,...,"Yours Sincerely, Kanan Gill",Zach Galifianakis: Live at the Purple Onion,Zack and Miri Make a Porno,Zaki Chan,Zathura,Zindagi Na Milegi Dobara,Zokkomon,Zoot Suit,Zozo,Çarsi Pazar
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
df.shape

(1000, 2395)

In [18]:
freq_data = apriori(df, min_support=0.0005, use_colnames=True, verbose=1, max_len=2, low_memory=True)
freq_data

c:\Users\canba\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

Processing 1229994 combinations | Sampling itemset size 2

        support                                           itemsets
0         0.009                                           (#Alive)
1         0.012                    (#AnneFrank - Parallel Stories)
2         0.012                                (#FriendButMarried)
3         0.012                              (#FriendButMarried 2)
4         0.014                                          (#Selfie)
...         ...                                                ...
412388    0.001  (Zokkomon, Zach Galifianakis: Live at the Purp...
412389    0.001              (Zoot Suit, Zindagi Na Milegi Dobara)
412390    0.002                   (Zindagi Na Milegi Dobara, Zozo)
412391    0.001                                   (Zokkomon, Zozo)
412392    0.001                                  (Zoot Suit, Zozo)

[412393 rows x 2 columns]

In [19]:
rules = association_rules(freq_data, metric="lift", min_threshold=0.1)
sorted = rules.sort_values(by='lift', ascending=False)
sorted

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
142967,(BLACKPINK: Light Up the Sky),(So My Grandma’s a Lesbian!),0.005,0.001,0.001,0.200000,200.000000,0.000995,1.248750,1.000000
142966,(So My Grandma’s a Lesbian!),(BLACKPINK: Light Up the Sky),0.001,0.005,0.001,1.000000,200.000000,0.000995,inf,0.995996
190272,(So My Grandma’s a Lesbian!),(Bittersweet),0.001,0.006,0.001,1.000000,166.666667,0.000994,inf,0.994995
190273,(Bittersweet),(So My Grandma’s a Lesbian!),0.006,0.001,0.001,0.166667,166.666667,0.000994,1.198800,1.000000
117203,(Liss Pereira: Reteniendo líquidos),(Animals on the Loose: A You vs. Wild Movie),0.001,0.007,0.001,1.000000,142.857143,0.000993,inf,0.993994
...,...,...,...,...,...,...,...,...,...,...
33146,(The Resurrection of Gavin Stone),(A Family Reunion Christmas),0.025,0.025,0.001,0.040000,1.600000,0.000375,1.015625,0.384615
261894,(Chup Chup Ke),(Classmates Minus),0.025,0.025,0.001,0.040000,1.600000,0.000375,1.015625,0.384615
261895,(Classmates Minus),(Chup Chup Ke),0.025,0.025,0.001,0.040000,1.600000,0.000375,1.015625,0.384615
202822,(Bobby Jasoos),(Classmates Minus),0.026,0.025,0.001,0.038462,1.538462,0.000350,1.014000,0.359343
202823,(Classmates Minus),(Bobby Jasoos),0.025,0.026,0.001,0.040000,1.538462,0.000350,1.014583,0.358974

In [20]:
sorted.shape

(819996, 10)

Recommend shows based on given show

In [21]:
def recommend_shows(showName):
  recommend_shows = []
  for i, show in sorted["antecedents"].items():
    for j in list(show):
        if j == showName:
            recommend_shows.append(list(sorted.iloc[i]["consequents"]))

  recommend_shows = list({item for item_list in recommend_shows for item in item_list}) # To get unique products
  return recommend_shows[:5]

In [26]:
import random
recommend_shows(random.choice(netflix_data.title))

['The Guns of Navarone',
 'Twins Mission',
 'The Legend of Bhagat Singh',
 'Line Walker',
 'Dennis the Menace']

In [27]:
import pickle
pickle.dump(sorted, open('../models/association_model.pkl', 'wb'))